<div class="well form-horizontal">
<%= bootstrap_form_for @event do |f| %>
	<%= f.alert_message "Oops got some errors" %>
	<%= f.text_field :title, label: 'Title', class: 'col-sm-3' %>
	<%= f.text_area :description,rows: '3' %>
	<%= f.form_group do %>
		<%= f.label 'Start:' %>
		<%= f.datetime_select :start_at %>
	<% end %>
	<%= f.label 'End' %>
	<%= f.datetime_select :end_at %>
	<%= f.form_group :allDay, label: { text: "Would you like it all day?" } do %>
		<%= f.radio_button :allDay, 1, label: "Yes" %>
		<%= f.radio_button :allDay, 0, label: "No" %>
	<% end %>
	<%= f.form_group do %>
		<%= f.submit 'Submit', class: 'btn btn-primary' %>
	<% end %>
<% end %>
</div>

